.navbar {
  height: max-content;
  width: calc(100% - 60px);
  border-radius: 0px 15px 0px 0px;
  background-color: #202028 !important;
  position: absolute;
  left: 60px;
}

.collapse {
  justify-content: space-around;
}

.container-fluid {
  flex-wrap: nowrap !important;
}

.navbar .navbar-nav li {
  font-size: 2rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.navbar .navbar-nav li svg {
  color: #b5b5b5 !important;
  cursor: pointer;
  padding: 5px;
  border-radius: 9px;
}

.navbar .navbar-nav li svg:hover {
  box-shadow: 0px 0px 4px 1px white;
}

.form-control:focus {
  box-shadow: none !important;
}

.search-icon-image {
  font-size: 2.5rem;
  color: #b5b5b5;
  cursor: pointer;
}
