::-webkit-scrollbar {
  width: 5px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

::-webkit-scrollbar-corner {
  background: grey;
}

body {
  background-color: rgb(204, 202, 202);
}

.dashboard_container {
  position: relative;
  width: 70%;
  min-height: 740px;
  height: 100%;
  margin: 1px auto auto auto;
  border-radius: 15px;
  display: flex;
  min-width: 755px;
  background-color: black;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 1060px;
}

.orderActivities_info_wrapper {
  position: relative;
  top: 96px;
  left: 61px;
  width: calc(100% - 62px);
  height: max-content;
}
